* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #122033;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  position: absolute;
}
.bat {
  top: 33%;
  height: 60%;
  transform: rotate(30deg);
  z-index: 99;
}
.ball {
  height: 8vh;
  z-index: 9;
  top: 33%;
  right: 5%;
}
.six{
  right: 0%;
  height: 250px;
  transform: scale(0);
}
hr {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  background: #fff;
  transform: blur(5px);
  z-index: 999;
}

/* Animation */
.main:hover .bat {
  animation-name: rotateBat;
  animation-duration: 1.1s;
  animation-delay: .1s;
}

.main:hover .ball {
  animation-name: ballmove;
  animation-duration: 4s;
}
.main:hover .six{
  animation-name: six;
  animation-duration: 2s;
  animation-delay: 3.5s;
}



@keyframes ballmove {
  0% {
    left: 95%;
    transform: rotate(180deg);
  }

  10% {
    left: 40%;
    top: 95%;
    transform: rotate(-180deg);
  }
  25% {
    left: 15%;
    top: 75%;
    transform: rotate(180deg);
  }

  100% {
    top: 5%;
    left: 100%;
    transform: rotate(-180deg);
  }
}
@keyframes rotateBat {
  0% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes six {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}